html {
    /* Needed to fix footer at bottom of browser */
    position: relative;
    min-height: 100%;
}

body {
    /* Move down content because of fixed navbar at top */
    padding-top: 50px;
    /* Set margin bottom allow for footer height */
    margin-bottom: 50px;
    position: relative;
    background-color: #BBE3F8;
    background-image: url(images/background.jpg);
    position: relative;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .main,
        {
        width: 100%;
        background-color: white;
        padding-bottom: 100px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px
    }
}

.navbar-light .navbar .navbar-inverse .navbar-fixed-top {
    color: #000000;
}

.navbar-inverse {
    background-color: #055288;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse li {
    color: #000000
}

#currDate {
    text-align: right;
    color: white;
    list-style: none;
    padding: 10px;
    margin-right: 10px;
    float: right;
}

main {
    background-color: white;
    padding-bottom: 25px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

main .row {
    margin-bottom: 15px;
}

h2 {
    color: #D4D300;
}

h3 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 20px;
}

h4 {
    font-family: Papyrus, Rockwell, sans-serif;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

h4 a {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
}

h5 {
    font-family: Papyrus, Rockwell, sans-serif;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    font-weight: bold;
}

h1 {
    padding-top: 25px;
}

figcaption {
    font-family: Papyrus, Rockwell, sans-serif;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

figcaption .text-center {
    width: 30%;
}

.jumbotron {
    margin-top: 15px;
    padding: 30px;
    color: #FFFFFF;
    text-align: left;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron a:link {
    text-decoration: none;
    color: azure;
}

.jumbotron a:visited {
    color: beige;
}

.jumbotron a:hover {
    color: #FFFC0B;
}

#section1 {
    color: #0673C0;
    text-align: left;
    padding-bottom: 25px;
}

#education {
    color: #0673C0;
    align-content: center;
    height: auto;
    margin-bottom: auto;
    height: auto;

}

#education p {
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    width: 100%;
    line-height: normal;
}

#education .educ-details {
    line-height: auto;
    font-size: 15px;

}

#education h3 {
    list-style-type: none;
    text-align: center;
    width: 100%;
}


#certName {
    color: #0673C0;
    align-content: center;
    height: auto;


}

#certName p {
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    width: 100%;
    line-height: auto;
}

#certName .cert-details {
    line-height: auto;
    font-size: 15px;

}

#certName h3 {
    list-style-type: none;
    text-align: center;
    width: auto;

}

#line {
    text-decoration: overline;
}

#tech {
    /*padding: 20px;
    border-style: solid;
    border-color: #0673C0;
    border-radius: 10%;
    */
    /*    margin-top: 20px;*/
    /*    background-color: #FFFFFF;*/
    height: auto;
    text-align: center;
    border: 10px;
    box-shadow: 20px;
}

#tech h3 {
    color: #0673C0;
    text-align: left;
    padding: 10px;
    text-align: center;
}

#liCore {
    color: #0673C0;
    text-align: center;
    font-size: 15px;
    list-style: none
}

#key-strengths-and-skills {
    /*padding: 20px;
    border-style: solid;
    border-color: #0673C0;
    border-radius: 10%;
    */
    /*    margin-top: 20px;*/
    /*    background-color: #FFFFFF;*/
    height: auto;
    text-align: center;
}

#key-strengths-and-skills h3 {
    color: #0673C0;
    text-align: left;
    padding: 10px;
    text-align: center;
}

#key-strengths-and-skills li {
    color: #0673C0;
    text-align: center;
    font-size: 15px;
    list-style: none;
    margin-bottom: auto;
}

#work-history {
    padding-top: 10px;
    margin-top: 20px;
    border: none;
    color: #0673C0;
    text-align: center;
    /*    display: inline;*/
    padding: 10px;
    padding-top: auto;
    padding-bottom: auto;

    text-align: justify;
    height: auto;
}

#work-history li {
    list-style-type: none;
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#work-history ul p {
    text-align: justify;
    font-style: italic;
    margin-right: 40px;
    padding: 5px;
    height: auto;
}

#projects {
    color: #0673C0;
    align-content: center;
    padding-top: auto;
    margin-top: auto;
    height: auto;

}

#section6 {
    text-align: right;
}

#training {
    padding-top: 10px;
    margin-top: 20px;
    height: auto;

}

#training h3 {
    color: #0673C0;
    padding: 10px;
    text-align: center;

}

#training li {
    color: #0673C0;
    text-align: left;
    font-size: 15px;

}

#key-accomp {
    text-align: left;
    list-style: disc;
    padding: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    position: absolute;
}

hr {
    border-color: #0673C0;
    border-bottom-style: double;
    padding-top: 20px;
    margin: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #055288;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 55px;
}

footer a {
    color: #ffffff;
}

footer a:link {
    text-decoration: none;
    color: azure;
}

footer a:visited {
    color: beige;
}

footer a:hover {
    color: #FFFC0B;
}


/*
////////////////////////////////////////////////
@for $i from 1 through 6 {

    @keyframes particle-animation-#{$i} {
        100% {
            transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
    }
    .particle: nth-child(#{$i}) {
        animation: particle-animation-#{$i} 5s infinite;
        $size: random(5) + 5 + px;
        height: $size;
        width: $size;
        opacity: random(100)/100;
        animation-delay: -$i * .2s;
        background: hsl(random(360), 70%, 50%);
        transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
}

.particle {
    position: absolute;
    border-radius: 50%;

}
*/

/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 50%;
    padding: 10px;
    /* Should be removed. Only for demonstration */
    height: 500px;
    margin: auto;
    /* Should be removed. Only for demonstration */
    /*
    border-left: 1px solid #000;
    border-style:inset;
    border-left-style: outset;
*/
}

.txt-center {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    text-align: center;
    margin-bottom: 20px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
